version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: project_operation_hub_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-251204}
      POSTGRES_DB: ${POSTGRES_DB:-project_operation_hub}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:

